/* You can add global styles to this file, and also import other style files */
.logo-box {
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: gray;
  }
.Texti {
    text-align: center;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

