
  <!--Nav Bari-->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand logo-box" href="http://localhost:4200/home">
      <mat-icon>  
        fingerprint
        </mat-icon>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="nav-link " href="http://localhost:4200/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:4200/products">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:4200/login">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>
  <h1 class="Texti">Welcome, you are on Home page</h1>